
    body{
        font-family: sans-serif;
        padding: 0;
        margin: 0;
    }

    #header {
        width: 100%;
        background-color: #1c1f24;
        padding: 5px;
        height: 30px;
        color: #a2a3a4;
    }

    #logo {
        float: left;
        font-weight: bold;
        font-size: 120%;
        padding: 3px 5px;
    }

    #buttonContainer {
        width: 233px;
        margin: 0 auto;
    }

   .toggleButton {
       float: left;
       border: 1px solid black;
       padding: 6px;
       border-right: none;
       font-size: 90%;
    }

    #HTML {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    #output {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-right: 1px solid grey;
    }

    .active {
        color: #c98f5f;
    }

    .highlightedButton {
        background-color: grey;
    }

    textarea {
        resize: none;
        border-top: none;
        background-color: #22252c;
        color: #a2a3a4;
        border-color: grey;
    }

    .panel {
        float: left;
        width: 50%;
        border-left: none;
    }

    iframe {
        border: none;
    }

    .hidden {
        display: none;
    }
